#
# [Common]
#

# Window name
WindowName = FOnline

#
# [Server]
#

# Project files to work with
ProjectFiles = ???; FOnlineSDK/Modules/Core; ...

# Storage location
# Variants:
# - JSON Storage (separate files for each entity in readable json format)
# - UnQLite Storage (single file, bson format)
# - Mongo mongodb://localhost:27017 FOnline
# - Memory (world state will be lost after server shutdown)
DbStorage = UnQLite Storage

# Place where stored changes of storage
# Supported same variants as storage plus None for disable feature
DbHistory = None

# Position of server window
# 0, 0 - center of monitor
PositionX = 0
PositionY = 0

# GUI size modifier
GUISize = 0

# Listening ports
# Port - all clients except Web
# Port + 1 - web sockets for Web clients connection
Port = 4000

# Secured Web Sockets credentials
# Private key and certificate pem files separated by space
# e.g. WssCredentials = private.pem public.pem
# Omit to use only unsecured web sockets
WssCredentials =

# Admin panel listening port
# If set to 0, admin panel will be disabled
AdminPanelPort = 0

# Sleep time after each game cycle, in milliseconds
GameSleep = 10

# Memory monitoring
# 0 - disabled, 1 - simple monitoring, 2 - deepest monitoring, 3 - more deepest monitoring
MemoryDebugLevel = 2

# Logging to file or text box
Logging = True

# Profiler data collection mode
# 0 - disabled, 1 - save to file, 2 - display in server, 3 - both
ProfilerMode = 0

# Interval for call stack sampling, in ms
ProfilerSampleInterval = 50

# Allow or disallow server extensions calls (.dll/.so/etc)
# If enabled, you must provide server extensions for platform where server is running
AllowServerNativeCalls = True

# Allow or disallow client extensions calls (.dll/.so/etc)
# If enabled, you must provide client extensions for all supported platforms
# This option is disabled by default for maximum portability
AllowClientNativeCalls = False

# List of all supported languages; Language_0 is used as default if client requests unknown language
# Length of each language name must be exactly four letters
Language_0 = engl

# Passwords for ~getaccess
# Engine handles four access levels: client (default on login), tester, moder, admin
Access_client = pass password
Access_tester =
Access_moder  =
Access_admin  =
AccessNames_admin =

#
# [Client]
#

# Language
Language = engl

# Remote settings
RemoteHost = localhost
RemotePort = 4000

# Proxy settings
# Types:
#  0 - Disabled
#  1 - Socks4
#  2 - Socks5
#  3 - HTTP
ProxyType = 0
ProxyHost = localhost
ProxyPort = 1080
ProxyUser = 
ProxyPass = 

# Sound volume
# Percent 0..100
MusicVolume = 100
SoundVolume = 100

# Screen resolution
ScreenWidth  = 1024
ScreenHeight = 768

# Fullscreen mode
FullScreen = False

# Keep window on top
AlwaysOnTop = False

# Framerate setting
# Not used if VSync is enabled
# Zero - no restriction
FixedFPS = 100

# Vertical synchronization
VSync = False

# Key codes redirection
# X Y X Y..., where X source code and Y destination code
# Code numbers - http://fonline.pastebin.com/Qy3E0qwj
KeyboardRemap =

#
# [InterfaceEditor]
#

# Path to *.fogui files
GuiPath = ???

# GuiScreens.fos output path
GuiOutputPath = ???

# Path to interface resources
GuiResourcesPath = ???
