/Workspace
/Temp
/_**
/.vs
/.idea
/.theia
/.cache
/.DS_Store
/[Bb]uild
/[Bb]uild-**
/[Cc]make-[Bb]uild**
__pycache__
.venv
/BuildTools/angelscript-debugger/node_modules
/BuildTools/angelscript-debugger/package-lock.json
