*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
*.lib binary
*.a binary
*.exe binary
*.dll binary
*.so binary
*.zip binary
*.tar binary
*.tgz binary
*.lib filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
