/Workspace
/Temp
/_**
!/_data
!/_layouts
/.vs
/.idea
/.theia
/.cache
/.DS_Store
/[Bb]uild
/[Bb]uild-**
/[Cc]make-[Bb]uild**
__pycache__
.venv
node_modules
package-lock.json
!BuildTools/docs-browser/package-lock.json
!Examples/ContentShowcase/WebTests/package-lock.json
Gemfile.lock
