# MSVC files
.vs
/InterfaceEditor/obj/
SDK/Modules/*/bin
SDK/Modules/*/obj

# Other
_Temp
/SDK/Binaries/VSCode/VSCode-win32-x64
/SDK/Binaries/VSCode/VSCode-linux-x64
/SDK/Binaries/Mono
/SDK/Modules/Core/Resources/Mono
/SDK/Binaries/Client/*
/SDK/Binaries/Mapper/*
/SDK/Binaries/Server/*
/SDK/Binaries/ASCompiler/*
/SDK/Modules/BuildSystem/_msicreator/createmsi.pyc
