name: validate

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  check-formatting:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: ./Source
        extensions: 'h,cpp,fos'
        clangFormatVersion: 20
  unit-tests:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - run: BuildTools/prepare-workspace.sh packages linux
    - run: BuildTools/validate.sh unit-tests
  code-coverage:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - run: BuildTools/prepare-workspace.sh packages linux
    - run: BuildTools/validate.sh code-coverage
    - uses: codecov/codecov-action@v4
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        fail_ci_if_error: true
  windows:
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        app:
        - win32-client
        - win64-client
        - win64-server
        - win64-editor
        - win64-mapper
        - win64-ascompiler
        - win64-baker
    steps:
    - uses: actions/checkout@v4
    - run: BuildTools/validate.cmd ${{matrix.app}}
  ubuntu:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        app:
        - linux-client
        - linux-gcc-client
        - android-arm-client
        - android-arm64-client
        - web-client
        - linux-server
        - linux-gcc-server
        - linux-editor
        - linux-gcc-editor
        - linux-mapper
        - linux-gcc-mapper
        - linux-ascompiler
        - linux-gcc-ascompiler
        - linux-baker
        - linux-gcc-baker
    steps:
    - uses: actions/checkout@v4
    - if: ${{startsWith(matrix.app, 'linux-')}}
      run: BuildTools/prepare-workspace.sh packages linux
    - if: ${{startsWith(matrix.app, 'web-')}}
      run: BuildTools/prepare-workspace.sh packages web
    - if: ${{startsWith(matrix.app, 'android-arm-')}}
      run: BuildTools/prepare-workspace.sh packages android
    - if: ${{startsWith(matrix.app, 'android-arm64-')}}
      run: BuildTools/prepare-workspace.sh packages android-arm64
    - if: ${{startsWith(matrix.app, 'android-x86-')}}
      run: BuildTools/prepare-workspace.sh packages android-x86
    - run: BuildTools/validate.sh ${{matrix.app}}
  macos:
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        app:
        - mac-client
        - ios-client
    steps:
    - uses: actions/checkout@v4
    - run: BuildTools/validate.sh ${{matrix.app}}
